<!-- logo -->
<div class="d-flex justify-content-center">
  <img src="assets/img/logo.png" />
</div>
<!-- advertise image -->
<!-- menu bar -->
<div class="d-flex justify-content-center">
  <button mat-button >Trang Chủ</button>
  <mat-menu #aboveMenu="matMenu" xPosition="after">
  </mat-menu>

  <button mat-button >Mỹ phẩm</button>
  <mat-menu #belowMenu="matMenu" xPosition="after">
  </mat-menu>

  <button mat-button >Thuốc</button>
  <mat-menu #beforeMenu="matMenu" xPosition="after">
  </mat-menu>


  <button mat-button >Thực phẩm chức năng</button>
  <mat-menu #afterMenu="matMenu" xPosition="after">
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="lastMenu">Yến sào</button>
  <mat-menu #lastMenu="matMenu" xPosition="after">
    <button mat-menu-item>Tổ Yến trằng</button>
  </mat-menu>
</div>
<!-- advertise image -->
<img src="assets/img/slideshow_1.jpg" />
<h2>Here are some product of us: </h2>
<ul>
  <li *ngFor="let product of products">
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">{{product.name}}</a></h2>
  </li>
</ul>

<router-outlet></router-outlet>
